body.app_background{
    background-color:lightgreen;
}

div.disc_box{
    height:100%;
    width:100%;
    margin-top:200px;
    background-color:white;
    position:absolute;
    margin:-8px;
    display:none;
}

h2.disc_head{
    font-size:50px;
    text-align:center;
}

div.disc_description_box{
    margin-right:auto;
    margin-left:auto;
    display:block;
    height:fit-content;
    width:fit-content;
}

button.dec_button{
    height:50px;
    width:100px;
    background-color:rgb(221, 0, 0);
    color:black;
    border:1px solid black;
    border-radius:5px;
    font-size:20px;
}

button.dec_button:hover{
    cursor:pointer;
    background-color:red
}

button.acc_button{
    height:50px;
    width:100px;
    background-color:green;
    color:black;
    border:1px solid black;
    border-radius:5px;
    font-size:20px;
    margin-left:100px;
}

button.acc_button:hover{
    cursor:pointer;
    background-color:rgb(42, 179, 29);
}

p.disc_description{
    font-size:20px;
}

p.sorry_note{
    font-size:20px;
    color:red;
    display:none;
}

div.main_image_box{
height:300px;
width:1400px;
border:1px solid red;
margin-left:auto;
margin-right:auto;
display:block;
}

button.l_button{
    float:right;
    height:30px;
    width:65px;
    background-color:red;
    color:white;
    border-radius:6px;
    border:2px solid white;
}

button.l_button:hover{
    cursor:pointer;
    background-color:rgb(253, 62, 62);
}

div.log_box{
    height:500px;
    width:500px;
    border:1px solid purple;
    display:none;
}

img.any_chat_banner{
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-left:350px;
}

div.other_topics_box{
    height:75px;
    width:1400px;
    border:10px solid rgb(255, 255, 255)k;
    background-color:rgb(255, 230, 87);
    border-radius:10px;
    margin-right:auto;
    margin-left:auto;
    display:block;
}

h1.other_topics_heading{
    font-size:30px;
    color:black;
}

div.cat_select_box{
    height:65px;
    width:1200px;
    margin-left:200px;
    margin-top:-50px;
}

button.ot_buttons{
    height:50px;
    width:100px;
    background-color:rgb(53, 100, 255);
    border:2px solid white;
    border-radius:10px;
    color:white;
}

button.ot_buttons2{
    height:50px;
    width:100px;
    background-color:rgb(53, 100, 255);
    border:2px solid white;
    border-radius:10px;
    color:white;
    margin-left:50px;
}

button.ot_buttons2:hover{
    background-color:rgb(115, 146, 250);
    cursor:pointer;
}

button.ot_buttons:hover{
    background-color:rgb(115, 146, 250);
    cursor:pointer;
}

div.main_general_interact{
    height:900px;
    width:1400px;
    background-color:rgb(179, 170, 170);
    border-style:double;
    border:2px solid black;
    border-radius:6px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

div.general_com_form_box{
    height:400px;
    width:600px;
    margin-right:auto;
    margin-left:auto;
    display:block;
}

div.general_com_form_box_inner{
    height:400px;
    width:400px;
    margin-right:auto;
    margin-left:auto;
    display:block;
}

label.gen_com_form_name{
    font-size:30px;
    color:white;
}

input.gen_com_form_name_in{
    height:30px;
    width:400px;
    font-size:25px;
}

label.gen_com_form_commentlabel_in{
    font-size:30px;
    color:white;
}

h3.gen_heading{
    font-size:50px;
    color:white;
    margin-left:70px;
    margin-top:-40px;
    margin-bottom:30px;
}

a.repo_link{
    float:right;
    margin-top:-50px;
    margin-right:60px;
}

a.repo_link:hover{
    color:rgb(36, 102, 189);
}

iframe.gen_comments_discussion_frame{
    height:400px;
    width:1300px;
    border:3px solid black;
    border-radius:6px;
    background-color:white;
    margin-top:1px;
    margin-right:auto;
    margin-left:auto;
    display:block;
}

textarea.gen_com_textbox{
    width:400px;
    height:200px;
    resize:none;
}

input.gen_com_sub_button{
    height:50px;
    width:100px;
    background-color:rgb(255, 0, 0);
    color:black;
    border:2px solid black;
    border-radius:6px;
    font-size:20px;
}

input.gen_com_sub_button:hover{
    background-color:rgb(248, 76, 76);
    cursor:pointer;
}

div.gen_comments_posts{
    height:100px;
    width:300px;
    border:2px solid rgb(0, 0, 0);
    border-right-style:none;
    border-left-style:none;
    border-bottom-style:none;
}

span.user_name{
    font-size:20px;
}

/********************Books section***********************************/

div.main_books_interact{
    height:900px;
    width:1400px;
    background-color:rgb(179, 170, 170);
    border-style:double;
    border:2px solid black;
    border-radius:6px;
    margin-left:auto;
    margin-right:auto;
    display:none;
}

/****************Hobbies Section******************************************/


div.main_hobbies_interact{
    height:900px;
    width:1400px;
    background-color:rgb(179, 170, 170);
    border-style:double;
    border:2px solid black;
    border-radius:6px;
    margin-left:auto;
    margin-right:auto;
    display:none;
}

/*******************Games Section***************************************/

div.main_games_interact{
    height:900px;
    width:1400px;
    background-color:rgb(179, 170, 170);
    border-style:double;
    border:2px solid black;
    border-radius:6px;
    margin-left:auto;
    margin-right:auto;
    display:none;
}

div.main_moviestv_interact{
    height:900px;
    width:1400px;
    background-color:rgb(179, 170, 170);
    border-style:double;
    border:2px solid black;
    border-radius:6px;
    margin-left:auto;
    margin-right:auto;
    display:none;
}

/*****************************Music Section*********************************/

div.main_music_interact{
    height:900px;
    width:1400px;
    background-color:rgb(179, 170, 170);
    border-style:double;
    border:2px solid black;
    border-radius:6px;
    margin-left:auto;
    margin-right:auto;
    display:none;
}

/******************************Sports Section********************************/

div.main_sports_interact{
    height:900px;
    width:1400px;
    background-color:rgb(179, 170, 170);
    border-style:double;
    border:2px solid black;
    border-radius:6px;
    margin-left:auto;
    margin-right:auto;
    display:none;
}

/****************************Travel Section**********************************/

div.main_travel_interact{
    height:900px;
    width:1400px;
    background-color:rgb(179, 170, 170);
    border-style:double;
    border:2px solid black;
    border-radius:6px;
    margin-left:auto;
    margin-right:auto;
    display:none;
}